body#layout ul{list-style-type:none;list-style:none}
body#layout ul li{list-style-type:none;list-style:none}
body#layout #content {width:600px;}
body#layout #nbtfeature {display:none;}
body#layout #slider {display:none;}

* {
    margin:0;
    padding:0;
}

body {
    font-family:Arial,Tahoma,Century gothic, sans-serif;
    color:#333;
    font-size:13px;
    background:#eee;
    margin:0 auto;
    padding:0;
}

img {
    border:0;
    margin:0;
}

a {
    color:#CA333E;
    text-decoration:none;
    outline:none;
}

a:hover {
    color:#000;
    text-decoration:none;
}

blockquote {
    color:#59666f;
    font-style:italic;
    font-family:Georgia;
    padding:10px;
}

.clear {
    clear:both;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    border:1px solid #fff;
    margin:10px 0;
}

table td,table th {
    text-align:left;
    border:1px solid #fff;
    padding:.4em .8em;
}

table th {
    background:#ddd;
    color:#999;
    text-transform:uppercase;
    font-weight:400;
    border:1px solid #fff;
}

table td {
    border:1px solid #fff;
    background:#eee;
    color:#555;
}

table tr.even td {
    background:#eee;
    border:none;
}

table tr:hover td {
    background:#FFF9DF;
}

.clearfix:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}

.clearfix {
    display:inline-block;
}

html[xmlns] .clearfix {
    display:block;
}

* html .clearfix {
    height:1%;
}

.rounded {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.boxshadow {
    -moz-box-shadow:0 0 5px #000;
    -webkit-box-shadow:0 0 5px #000;
    box-shadow:0 0 5px #000;
}

/* OUTER  */

#wrapper{
    width:1000px;
    margin:0 auto;
}

/* HEADER */
#masthead{
    height:140px;
    background:url(/images/head_bg.png) repeat-x;
}

#head{
    width:1000px;
    margin:0 auto;
}

#top{
    height:99px;
    overflow:hidden;
}

#blogname{
    width:400px;
    float:left;
    overflow:hidden;
}

#blogname h1{
    font-size:32px;
    margin:20px 0px 0px 0px;
    font-family:'Oswald',Arial;
}

#blogname h1 a:link, #blogname h1 a:visited{
    color:#fff;
}

#contactlist{
    width:600px;
    float:left;
    overflow:hidden;
}

/* TOP-MENU */

#botmenu{
    height:40px;
    margin:0px 0px 0px 0px;
    font-size: 12px;
    overflow:hidden;
    background:#222;
    border-top:1px solid #000;
    border-left:1px solid #000;
    border-right:1px solid #000;
}

#submenu {
    margin: 0px 0px;
    width:700px;
    padding:0px 10px;
    float:left;
}

#submenu ul {
    width: 100%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 0px;
}

#submenu li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #999;
    text-shadow:1px 1px 0px #111;
}

#submenu li a {
    color: #999;
    display: block;
    margin: 0;
    padding: 12px 10px 12px 10px;
    text-decoration: none;
    position: relative;
    text-shadow:1px 1px 0px #111;
}

#submenu li a:hover, #submenu li a:active, #submenu .current_page_item a  {
    color: #ddd;
    text-shadow:1px 1px 0px #111;
    background:#111;
}

#submenu li a.sf-with-ul {
    padding-right: 20px;
}

#submenu li li a, #submenu li li a:link, #submenu li li a:visited {
    color: #aaa;
    font-size:11px;
    text-shadow:none;
    width: 148px;
    font-family: Arial, Tahoma, Verdana;
    margin: 0;
    padding: 0px 10px;
    line-height:35px;
    border-bottom:1px solid #444444;
    border-top:1px solid #2D2623;
    border-left:1px solid #2D2623;
    border-right:1px solid #444444;
    text-transform: none;
    position: relative;
    background:#3B3D3D;
}

#submenu ul ul li:first-child{
    border-top:none;
}

#submenu ul ul li:last-child{
    border-bottom:none;
}

#submenu li li:last-child{
    border-bottom:none;
}

#submenu li li a:hover, #submenu li li a:active {
    background:#2F3030;
    color: #fff;
}

#submenu li ul {
    z-index: 9999;
    position: absolute;
    left: -999em;
    height: auto;
    width: 170px;
    margin: 5px 0px;
    padding: 5px 5px;
    background:#282828;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#submenu li ul a {
    width: 150px;
}

#submenu li ul a:hover, #submenu li ul a:active {
}

#submenu li ul ul {
    margin: -41px 0 0 179px;
}

#submenu li:hover ul ul, #submenu li:hover ul ul ul, #submenu li.sfHover ul ul, #submenu li.sfHover ul ul ul {
    left: -999em;
}

#submenu li:hover ul, #submenu li li:hover ul, #submenu li li li:hover ul, #submenu li.sfHover ul, #submenu li li.sfHover ul, #submenu li li li.sfHover ul {
    left: auto;
}

#submenu li:hover, #submenu li.sfHover {
    position: static;
}

/* SEARCH FORM	 */
#search {
    width:170px;
    padding:0px ;
    margin:5px 5px 0px 10px;
    display:inline-block;
    background:#474747;
    border:1px solid #000;
    float:right;
}

#search form {
    margin: 0px 0px 0px 0px;
    padding: 0;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search p {
    margin: 0;
    font-size: 85%;
}

#s {
    width:150px;
    background:#474747;
    margin:0px 0px 0px 3px;
    padding: 3px 5px;
    height:20px;
    border:none;
    font: normal 100% "Tahoma", Arial, Helvetica, sans-serif;
    color:#fff;
    float:left;
    display:inline;
}

#searchsubmit{
    background:url(images/sbutton.png);
    border:none;
    color:#fff;
    display:block;
    width:24px;
    height:22px;
    margin:1px 2px 0px 0px;
    padding:5px 5px;
    float:right;
    cursor:pointer;
}

/* BELOW HEADER */

#casing{
    width:998px;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    background:#fefefe;
    padding:20px 0px;
}

/* CONTENT AREA */
#content{
    width:660px;
    margin-left:20px;
    float:left;
    word-wrap:break-word;
    overflow:hidden;
}

.post{
    margin:0px 0px 15px 0px;
    color:#555;
}

.post-body{
    line-height:24px;
}

.entry-meta {
    padding:2px 0px 8px 0px;
    font-family: 'Oswald',Arial;
}

.postimg{
    float:left;
    margin:10px 10px 10px 0px;
    padding:4px;
    background:#fff;
    border:1px solid #eee;
}

.bposttitle{
    margin: 0px 0px;
    padding: 0px 0px;
}

.bposttitle  h2 {
    margin: 0px 0px;
    padding: 5px 0px 5px 0px ;
    font-size: 24px ;
    font-family: 'Oswald',Arial;
    font-weight:normal;
    text-transform:uppercase;
}

.bposttitle  h2 a, .bposttitle  h2 a:link, .bposttitle  h2 a:visited  {
    color:#3a3a3a;
    background-color: transparent;
}

.bposttitle  h2 a:hover  {
    color: #333;
    background-color: transparent;
}

.postmeta{
    padding:5px 0px;
    font-size:10px;
    text-transform:uppercase;
}
.category{
    padding:5px 0 5px 20px;
    color:#827A60;
    background:url(http://2.bp.blogspot.com/-jH6K64NM0VI/URQgyoEH8bI/AAAAAAAACNU/uwk3jDLebBE/s000/tag.png) left center no-repeat;
    font-size:10px;
    text-transform:uppercase;
}

.category a:link,.category a:visited{
    color:#D1512A;
}

.category a:hover{
    color:#000;
}

.entry {
    margin:0px 0px 0px 0px;
    padding: 0px 0px ;
}

.entry a:link,
.entry a:visited {
    color:#CF0808;
}

.entry a:hover {
    color:#ED1717;

}

.entry ul, .entry ol{
    margin: .4em 0 1em;
    line-height: 150%;
}

.entry ul li, .entry ol li{
    list-style-position:outside;
    margin-left: 1.6em;
}

.entry p{
    margin:0px 0px 10px 0px;
    padding:2px 0px 2px 0px;
    line-height:150%;
}

a.morer{
    background:#555;
    padding:5px 10px;
    float:right;
    color:#fff!important;
}

/* SIDEBAR */

#right{
    margin-right:20px;
    width:280px;
    float:right;
    word-wrap:break-word;
    overflow:hidden;
}

/* WIDGETS */
.sidebar {
    color: #6f6f6f;
}

.sidebar a {
    text-decoration: none;
    color: #6f6f6f;
}

.sidebar a:hover {
    text-decoration: none;
    color: #c90000;
}

.sidebar .widget {
    margin: 0 0 25px 0;
    background: #f4f4f4;
    padding: 0;
}

.sidebar .widget h2 {
    color: #ffffff;
    margin-bottom: 2px;
    font: 400 14px 'Oswald',Arial;
    padding: 10px 10px 7px 10px;
    background: #333535;
    text-transform:uppercase;
}

.sidebar .widget-content {
    margin: 0;
    padding: 5px 10px;
    line-height: 18px;
}

.sidebar ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px solid #fafafa;
}

/* Archive title and pagination */

h1.pagetitle{
    font-size:14px;
    margin-bottom:20px;
    color:#777;
}

/* Footer widgets */
#bottom{
    margin:0px auto;
    width:998px;
    background:#222222;
    border-left:1px solid #111;
    border-right:1px solid #111;
    border-bottom:1px solid #111;
}

.bottomcover{
    background:url(http://1.bp.blogspot.com/-ZEAlbLWvVRA/URQgzBd5rWI/AAAAAAAACNc/LWfxNBrdxl4/s000/bottom.png);
    margin:0px auto;
    padding-bottom:20px;
}

/* --- FOOTER --- */
#footer {
    padding:15px 0 15px 0px;
    color:#777;
    font-size:11px;
    background:url(/images/footer_bg.png);
}

#footer a:link , #footer a:visited{
    color:#777;
}

#footer a:hover {
    color:#777;
}

.fcred{
    width:1000px;
    text-align:center;
    margin:0px auto;
    line-height:16px;
    text-shadow:0px 1px 0px #000000;
}

h2.date-header {
    margin: 1.5em 0 .5em;
    display: none;
}

.main .widget {
    margin: 0 0 5px;
    padding: 0 0 2px;
}

.main .Blog {
    border-bottom-width: 0;
}

#header .description {
    color:#ffffff;
    font-size:14px;
    text-shadow:0px 1px 0px #000000;
    font-family:'Oswald',Arial;
}

/* Comments----------------------------------------------- */
#comments {
    padding:10px;
}

#comments h4 {
/* font-family:'Oswald',Arial; */
}

#comment-name-url {
    width: 365px;
    float: left;
}

#comment-date {
    width: 365px;
    float: left;
    margin-top: 5px;
    font-size: 10px;
}

#comment-header {
    float: left;
    padding: 5px 0 40px 10px;
    margin: 5px 0 15px 0;
    position: relative;
    background-color: #ffffff;
    border: 1px dashed #eeeeee;
}

.avatar-image-container {
    background: url(http: //4.bp.blogspot.com/_4HKUHirY_2U/TLlJUqSaolI/AAAAAAAAEq4/qpgAHAOe9x0/s1600/comment-avatar.jpg);
    width: 32px;
    height: 32px;
    float: right;
    margin: 5px 10px 5px 5px;
    border: 1px solid #dddddd;
}

.avatar-image-container img {
    width: 32px;
    height: 32px;
}

a.comments-autor-name {
    color: #000000;
    font: normal bold 14px Arial, Tahoma, Verdana;
}

a.says {
    color: #000000;
    font: normal 14px Arial, Tahoma, Verdana;
}

.says a:hover {
    text-decoration: none;
}

.deleted-comment {
    font-style: italic;
    color: gray;
}

#blog-pager-newer-link {
    float: left;
}

#blog-pager-older-link {
    float: right;
}

#blog-pager {
    text-align: center;
    font-family: 'Oswald',Arial;
}

.feed-links {
    clear: both;
    font-family: 'Oswald',Arial;
}

/* Profile ----------------------------------------------- */
.profile-img {
    float: left;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    padding: 4px;
    border: 1px solid #eeeeee;
}

.profile-data {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000000;
    font-weight: bold;
    line-height: 1.6em;
}

.profile-datablock {
    margin: .5em 0 .5em;
}

.profile-textblock {
    margin: 0.5em 0;
    line-height: 1.6em;
}

.avatar-image-container {
    background: url(http://3.bp.blogspot.com/-RzNfksQNKYM/URQgzfl0PhI/AAAAAAAACNk/rrdaRSQJK9U/s000/comment-avatar.jpg);
    width: 32px;
    height: 32px;
    float: right;
    margin: 5px 10px 5px 5px;
    border: 1px solid #dddddd;
}

.avatar-image-container img {
    width: 32px;
    height: 32px;
}

.profile-link {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.comment-form {
    max-width: 600px;
}

#navbar-iframe {
    height: 0;
    visibility: hidden;
    display: none;
}

.cover {
    float: left;
    width: 100%;
}

.PopularPosts .widget-content ul li {
    padding:6px 0px;
}

.reaction-buttons table{
    border:none;
    margin-bottom:5px;
}

.reaction-buttons table, .reaction-buttons td{
    border:none;
}

/* Mine */

#contactlist a{
    float:right;
    margin-top:30px;
    padding:10px 10px 0px 0px;
}

ul.posts{
    padding-left:40px;
}

ul#taglist{
    line-height:24px;
    text-align:justify;
}

#taglist li{
    padding: 0;
    border: 0;
}

.juvia-comment div.juvia-metadata{
    background: none repeat scroll 0% 0% #333535;
    color: #fff;
}

.juvia-comment div.juvia-author{
    padding-left: 5px;
}

h3.juvia-comment-count-header{
    padding:0 0 15px 0;
}

p.readmore{
    padding: 0;
}
.entry-img-left {
    float: left;
    margin: 5px 10px 10px 0;
}

.entry-img-right {
    float: right;
    margin-left: 10px;
}

.entry-tags {
    float: right;
}

pre, kbd, samp, tt {
    font-family:monospace;
    font-size:108%;
    line-height:100%;
}

pre {
    padding: 15px 20px;
    margin:10px 10px;
    overflow: auto;
    width: 95%;

    font-family: Droid Sans Mono,monospace;
    background: #1d1f21;
    padding: 5px;
    font-size:100%;
    line-height: 150%;
    clear:both;

    -moz-border-radius: 5px;
    border-radius: 5px;
}
