.gr_custom_header_13821383570 a {
    color: #fff;
}

.gr_custom_each_container_13821383570 {
    padding: 4px 10px 4px 15px;
    clear: both;
    overflow: auto;
    border-bottom: 1px solid #fafafa;
}

.gr_custom_book_container_13821383570 {
    overflow: hidden;
    float: left;
    margin-right: 4px;
}

.gr_custom_author_13821383570 {
    margin: 2px 0 2px 0;
    font-size: 11px;
}

.gr_custom_tags_13821383570 {
    font-size: 10px;
    color: gray;
}

#goodreads center,br {
    display: none;
}
